html, body {
	margin: 0 auto;
	width: 100%;
	position:relative;
}
html {
	overflow:hidden;
}
li {
	list-style:none;
}
* {
	margin: 0;
	padding: 0;
}
.zong {
	display: -webkit-flex; /* Safari */
	display: flex;
	flex-direction: column;
	flex: 1;
}
.one .right .name{
	word-break: break-all;
	text-overflow: ellipsis;
	display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
	-webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
	-webkit-line-clamp: 1; /** 显示的行数 **/
	overflow: hidden;  /** 隐藏超出的内容 **/
	color: #0c7cb5;
	font-size: 16px;
}
.one .right .myclass{
	word-break: break-all;
	text-overflow: ellipsis;
	display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
	-webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
	-webkit-line-clamp:2 ; /** 显示的行数 **/
	overflow: hidden;  /** 隐藏超出的内容 **/
	font-size: 14px;
	background: #1155BB;
}
span.titlespan{
	background: #778899;
	border: 1px solid darkgreen;
	padding: 6px;
}
div.titleline p {
	padding: 2px;
	border: 1px solid blue;
}