<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>表单提交试试</title>
    <script src="/js/publicjs.js"></script><!--//将需要的共用的js提取到一起-->
    <!--<link rel="stylesheet" type="text/css" href="/css/public.css"> &lt;!&ndash;本来是无效的 google调试一下有可以了  很神奇&ndash;&gt;-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .one{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #myForm{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    </style>
    <script>
        function clickmy(){

            $(".title").text("我点击了吗？")
        }
        // var formData=new FormData($('#myForm')[0]);

    </script>
</head>
<body>
<div class="zong">
    <div class="one">
        <h4 class="title">我是标题</h4>
        <form id="myForm" method ="post" action="/form/userpas">
            <input class="username" name="username" placeholder="请在这里输入用户名">  <br>
            <input class="password" name="password" placeholder="请在这里输入尼玛">  <br>
            <button class="tijiao" type="submit" onclick="clickmy()"> 确定登录 </button>
        </form>
        <h6 th:text="名字：+${ziyuan}"></h6>
    </div>


</div>

</body>
</html>