
<html>
<head>
    <script src="http://cdn.static.runoob.com/libs/jquery/1.8.3/jquery.js"></script>
    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/my.css">
    <script>
        function qingqiu() {
            alert("nihohkl");
            var json = {
                "username":"admin",
                "password":123
            };
            $.ajax({
                url: "/test/helloworld",
                type: "POST",
                async: true,
                contentType: "application/json",
                data: JSON.stringify(json),
                dataType: 'json',
                success: function (data) {
                    alert(JSON.stringify(data))
                },
                errer:function (data) {
                    
                }
            });
        }
    </script>
</head>
<body>
<h2>Hello World!</h2>
<span class='uyou'>你好的</span>
<button class="qingq" onclick="qingqiu()">请求</button>
</body>
</html>