<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css"  href="../css/cna.css"/>
    <style>
        .zong {
            display: flex;
            flex-direction: column;
            flex: 1;
        }

        .zong div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

    </style>
</head>
<body>
<div class="zong">
    <div>
        <img src="/img/su.png" style="width: 20px;height: 20px">
        <span class="titlespan">你妹的真是不爽de!</span>
    </div>


</div>
</body>
</html>