<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>获取电影</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html, body {
            margin: 0 auto;
            width: 100%;
            position: relative;
            height: 100%;
        }

        html {
            overflow: auto;
        }

        li {
            list-style: none;
        }

        .zong {
            display: -webkit-flex; /* Safari */
            background: #ff0000;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
//如何设置全屏
<div class="zong">

</div>
</body>
</html>